@tailwind base;
@tailwind components;
@tailwind utilities;
/*
  elm-hot creates an additional div wrapper around the app to make HMR possible.
  This could break styling in development mode if you are using Elm UI.

  More context in the issue:
    https://github.com/halfzebra/create-elm-app/issues/320
*/
[data-elm-hot="true"] {
  height: inherit;
}

html {
  font-family: "Iosevka Aile", Iosevka, "Roboto Mono", "Cascadia Code", Consolas, "Fira Code", Menlo, Monaco, ui-monospace, monospace;
}

@keyframes hunter-indicator {
  0% {
    background-color: cyan;
    transform: scale(1) rotateZ(0deg);
  }
  50% {
    background-color: crimson;
    transform: scale(4);
  }
  100% {
    background-color: cyan;
    transform: scale(1) rotateZ(180deg);
  }
}

@keyframes hunter-decorator-red {
  0% {
    transform:scale(0.8) rotateZ(0deg);
  }
  50% {
    transform:scale(1.2) rotateZ(180deg);
  }
  100% {
    transform:scale(0.8) rotateZ(360deg);
  }
}

@keyframes hunter-decorator-blue {
  0% {
    transform:scale(0.8) rotateZ(45deg);
    opacity: 1;
  }
  50% {
    transform:scale(1.2) rotateZ(-135deg);
    opacity: 0.76;
  }
  100% {
    transform:scale(0.8) rotateZ(-315deg);
    opacity: 1;
  }
}

@keyframes prey-decorator {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(2);
  }
  100% {
    transform: scale(0);
  }
}

@keyframes wall {
  0% {
    border-color: cyan;
    background-color: crimson;
  }
  50% {
    border-color: crimson;
    background-color: cyan;
  }
  100% {
    border-color: cyan;
    background-color: crimson;
  }
}

@keyframes catch-flash {
  0% {
    background-color: red;
    opacity: 0.75;
  }
  100% {
    opacity: 0;
  }
}

.text-tiny {
  font-size: 0.7rem;
  margin-left: 0.75rem;
  margin-top: -0.55rem;
}

.cross::after {
  display: block;
  position: absolute;
  color: red;
  border: 1px dashed red;
  top: -0.5rem;
  left: -0.5rem;
  width: 1rem;
  height: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 0;
  content: "\00d7"; /* This will render the 'X' */
}




.hunter-indicator {
  animation-name: hunter-indicator;
  animation-duration: 0.5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}


.hunter-decorator-red {
  animation-name: hunter-decorator-red;
  animation-duration: 0.43s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
.hunter-decorator-blue {
  animation-name: hunter-decorator-blue;
  animation-duration: 0.67s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.prey-decorator {
  animation-name: prey-decorator;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}

.wall {
  animation-name: wall;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.catch-flash {
  animation-name: catch-flash; 
  animation-duration: 3s;
}
