@tailwind base;
@tailwind components;
@tailwind utilities;
/*
  elm-hot creates an additional div wrapper around the app to make HMR possible.
  This could break styling in development mode if you are using Elm UI.

  More context in the issue:
    https://github.com/halfzebra/create-elm-app/issues/320
*/
[data-elm-hot="true"] {
  height: inherit;
}

html {
  /* font-family: "Bahnschrift", "Iosevka Aile", Iosevka, "Roboto Mono", "Cascadia Code", Consolas, "Fira Code", Menlo, Monaco, ui-monospace, monospace; */
  font-family: "VT323", "Press Start K", "8BIT WONDER";
  --s: 80px; /* control the size*/
  --c1: #e4fbfd;
  --c2: #ecffff;
  --c3: #e8fffe;
 
}

.panel {
background:
    radial-gradient(#d4f9f9 3px, transparent 4px),
    radial-gradient(#d4f9f9 3px, transparent 4px),
    linear-gradient(#fff 4px, transparent 0),
    linear-gradient(45deg, transparent 74px, transparent 75px, #d4f9f9 75px, #d4f9f9 76px, transparent 77px, transparent 109px),
    linear-gradient(-45deg, transparent 75px, transparent 76px, #d4f9f9 76px, #d4f9f9 77px, transparent 78px, transparent 109px),
    #fff;
    background-size: 109px 109px, 109px 109px,100% 6px, 109px 109px, 109px 109px;
    background-position: 54px 55px, 0px 0px, 0px 0px, 0px 0px, 0px 0px;
}


.board {
 
  background:
    conic-gradient(from  15deg at 86.6%,
      var(--c3) 25%,var(--c2) 0 150deg,#0000 0),
    conic-gradient(from -75deg at 50% 13.39%,
      var(--c1) 60deg,var(--c3) 0 150deg,
      var(--c2) 0 210deg,#0000 0),
    conic-gradient(from 15deg at 36.6% 63.4%,
     var(--c1) 60deg,var(--c3) 0 150deg,
     var(--c1) 0 210deg,var(--c2) 0 75%,var(--c3) 0);
  background-size: var(--s) var(--s);

}

.wonder-font {
  font-family: "8BIT WONDER";
}

.bg-light {
  background-color: #cdf7f6;
}


.bg-green {
  background-color: #1dd3b0;
}

.bg-blue {
  background-color: #086375;
}

.bg-dark {
  background-color: #3c1642;
}

.text-black {
  color: #3c1642;
}

.border-black {
  border-color: #3c1642;
}

.border-dark {
  border-color: #3c1642;
}

.bg-mico-light-gray {
  background-color: #c2c3c7;
}

.bg-mico-medium-gray {
  background-color: #83769c;
}

.bg-mico-dark-gray {
  background-color: #5f574f;
}

.bg-mico-blue {
  background-color: #35cfe4;
}

.modal {
  border: 10px double #3c1642;
}

.background-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}

.background-image-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.heading-text {
  font-size: 24px;
  line-height: 1.5;
  font-family: "Press Start K", "Iosevka Aile", Iosevka, "Roboto Mono", "Cascadia Code", Consolas, "Fira Code", Menlo, Monaco, ui-monospace, monospace;
}

.heading-font {
  font-family: "Press Start K", "Iosevka Aile", Iosevka, "Roboto Mono", "Cascadia Code", Consolas, "Fira Code", Menlo, Monaco, ui-monospace, monospace;
}

.body-font {
  font-family: "VT323","Iosevka Aile", Iosevka, "Roboto Mono", "Cascadia Code", Consolas, "Fira Code", Menlo, Monaco, ui-monospace, monospace;
}

.body-size {
  font-size: 18px;
}

.body-text {
  font-size: 22px;
  font-family: "VT323","Iosevka Aile", Iosevka, "Roboto Mono", "Cascadia Code", Consolas, "Fira Code", Menlo, Monaco, ui-monospace, monospace;
}


.max-h-90vh {
  max-height: 90vh;
}

.h-90vh {
  height: 90vh;
}

@keyframes hunter-indicator {
  0% {
    background-color: cyan;
    transform: scale(1) rotateZ(0deg);
  }
  50% {
    background-color: crimson;
    transform: scale(4);
  }
  100% {
    background-color: cyan;
    transform: scale(1) rotateZ(180deg);
  }
}

@keyframes prey-decorator {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(2);
  }
  100% {
    transform: scale(0);
  }
}

@keyframes shake {
  0% {
    color: white;
     margin-left: -2px;
  }
  50% {
    color: #eeffff;
    margin-left: 0px;
  }
  100% {
    color: white;
    margin-left: -1px;;
  }
}

@keyframes wall {
  0% {
    background-position: 0% 0%;
  }
  100% {
    background-position: 100% 100%;
  }
}

@keyframes catch-flash {
  0% {
    background-color: white;
  }
  100% {
    background-color: transparent;
  }
}

hr {
  border: 1px solid #3c1642;
}

.text-tiny {
  font-size: 0.7rem;
  margin-left: 0.75rem;
  margin-top: -0.55rem;
}

.cross::after {
  display: block;
  position: absolute;
  color: #3c1642;
  border: 1px dashed #3c1642;
  top: -0.5rem;
  left: -0.5rem;
  width: 1rem;
  height: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 0;
  content: "\00d7"; /* This will render the 'X' */
}




.hunter-indicator {
}


.wall {
  background-color: #ffffff;
  opacity: 1;
  background: repeating-linear-gradient( 45deg, #f43f5e, #f43f5e 5px, #ffffff 2px, #ffffff 10px );
  background-size: 200% 200%;
  border-radius: 2px;
  border: 1px solid white;
  box-sizing:content-box;
}

.catch-flash {
  animation-name: catch-flash; 
  animation-duration: 3s;
  z-index: 100;
}

.marquee-text {
  animation-name: shake;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}